<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swjtu.huxin.accountmanagement">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity">
        </activity>
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".activity.AddItemActivity">
        </activity>
        <activity
            android:name=".activity.BudgetActivity">
        </activity>
        <activity
            android:name=".activity.BudgetSettingActivity">
        </activity>
        <activity
            android:name=".activity.DateRangePickerActivity">
        </activity>
        <activity
            android:name=".activity.ChartDetailActivity">
        </activity>
        <activity
            android:name=".activity.AccountDetailActivity">
        </activity>
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".activity.AccountSettingActivity">
        </activity>
        <activity
            android:name=".activity.AccountSelectColorActivity">
        </activity>
    </application>

</manifest>